<div class="row">
  <center>
    <h2>Time Tracker</h2>
    <a href="https://github.com/xoorath/TimeTracker"><h4 class="subheader">Find me on github!</h4></a>
  </center>
</div>
<div class="row">
  <div class="eight columns">
    <div class="hipster_frame">
      <div id="featured">
        <img src="assets/demo1.jpeg" />
        <img src="assets/demo2.jpeg" />
        <img src="assets/demo3.jpeg" />
      </div>
      <center><i>Marketing is fun!</i></center>
    </div>
  </div>
  <div class="four columns">
    <p>Interested in saving more time than your weak human body is prepared to handle? Go ahead, make my day:</p>
    <h4>Learn the ways...<h4>
    <a href="users/sign_up" class="button">REGISTER &raquo;</a>
    <h4>or use the force...<h4>
      <a href="users/sign_in" class="button">LOGIN &raquo;</a>
  </div>
</div>
<div class="row">
  <div class="four columns">
    <center>
      <img src="assets/review1.jpg" />
    </center>
  </div>
  <div class="four columns">
    <center>
      <img src="assets/review2.jpg" />
    </center>
  </div>
  <div class="four columns">
    <center>
      <img src="assets/review3.jpg" />
    </center>
  </div>
</div>
<div class="row">
  <center>
    <p class="subheader">
      Disclaimer: Many or all of the above statements are likely false.</br>
      &copy; 2012 Jared Thomson. All rights reserved.
    </p>
  </center>
</div>