<html>
  <div class="row">
    <center>
      <h2>Time Tracker</h2>
      <p class="subheader"><i>By Jared Thomson</i></p>
      <a href="https://github.com/xoorath/TimeTracker"><h4 class="subheader">Find me on github!</h4></a>
    </center>
  </div>
  <div class="row">
    <div class="eight columns">
      <div class="hipster_frame">
        <div id="featured">
          <img src="assets/demo1.jpeg" />
          <img src="assets/demo2.jpeg" />
          <img src="assets/demo3.jpeg" />
        </div>
        <center><i>Marketing is fun!</i></center>
      </div>
    </div>
    <div class="four columns">
      <p>TODO: Actually make this a login/registration fourm. Right now both buttons just send you to a static non authenticated page.</p>
      <h3>Login:</h3>
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <ul class="button-group [radius, square]">
        <li><a href="TimeTracker.html" class="button">Login &raquo;</a></li>
      </ul>
      <h3>Register:</h3>
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <input type="email" placeholder="name@domain.com"/>
      <ul class="button-group [radius, square]">
        <li><a href="TimeTracker.html" class="button">Login &raquo;</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="four columns">
      <center>
        <img src="assets/review1.jpg" />
      </center>
    </div>
    <div class="four columns">
      <center>
        <img src="assets/review2.jpg" />
      </center>
    </div>
    <div class="four columns">
      <center>
        <img src="assets/review3.jpg" />
      </center>
    </div>
  </div>
</html>