<div class="row">
	<center>
	<h2>Xoorath's Time Tracker</h2>
	<a href="https://github.com/xoorath/TimeTracker"><h4 class="subheader">Fork me on github!</h4></a>
</center>
</div>
<div class="row">
  <div class="eight columns">
    I'm using some powerful technology. You should check it out.:</br>
  </div>
  <div class="four columns">
    Sidebar...
  </div>
</div>