
<div class="row">
  <center>
    <h2>Time Tracker</h2>
    <a href="https://github.com/xoorath/TimeTracker"><h4 class="subheader">Find me on github!</h4></a>
  </center>
</div>
<div class="row">
  <div class="eight columns">
    <div class="hipster_frame">
      <div id="featured">
        <img src="assets/demo1.jpeg" />
        <img src="assets/demo2.jpeg" />
        <img src="assets/demo3.jpeg" />
      </div>
      <center><i>Marketing is fun!</i></center>
    </div>
  </div>
  <div class="four columns">
    <h3>Login:</h3>
    <input type="text" placeholder="username"/>
    <input type="password" placeholder="password"/>
    <ul class="button-group [radius, square]">
      <li><a href="#" class="button" data-reveal-id="todoModal">Login &raquo;</a></li>
    </ul>
    <h3>Register:</h3>
    <input type="text" placeholder="username"/>
    <input type="password" placeholder="password"/>
    <input type="email" placeholder="name@domain.com"/>
    <ul class="button-group [radius, square]">
      <li><a href="#" class="button" data-reveal-id="todoModal">Register &raquo;</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="four columns">
    <center>
      <img src="assets/review1.jpg" />
    </center>
  </div>
  <div class="four columns">
    <center>
      <img src="assets/review2.jpg" />
    </center>
  </div>
  <div class="four columns">
    <center>
      <img src="assets/review3.jpg" />
    </center>
  </div>
</div>
<div class="row">
  <center>
    <p class="subheader">
      Disclaimer: Many or all of the above statements are likely false.</br>
      &copy; 2012 Jared Thomson. All rights reserved.
    </p>
  </center>
</div>
<!-- Modals -->
<div id="todoModal" class="reveal-modal">
  <h2>Stay a while and listen</h2>
  <p class="lead">This site isn't quite done yet.</p>
  <p>What I mean is: the login and registration isn't complete. This is my first rails app and I wrote this in 2 days so I haven't had time to learn that yet. So come back later when I have some time to finish this bad boy and you'll have an account all to yourself!</p>
  <p>Until then, welcome to the public time tracker.</p>
  <a href="timepage.html" class="button">Time Tracker Away!</a>
  <a class="close-reveal-modal">&#215;</a>
</div>