<html>
  <div class="row">
    <center>
      <h2>Time Tracker</h2>
      <p class="subheader"><i>By Jared Thomson</i></p>
      <a href="https://github.com/xoorath/TimeTracker"><h4 class="subheader">Find me on github!</h4></a>
    </center>
  </div>
</html>