<div class="row">
<center>
  <h2>Time Tracker</h2>
  <a href="https://github.com/xoorath/TimeTracker"><h4 class="subheader">Find me on github!</h4></a>
</center>
</div>
<div class="row">
  <center><h1>This week by category:</h1></center>
  <center><div id="week_by_cat"></div></center>
</div>
<div class="row">
  <center>
    <p class="subheader">
      &copy; 2012 Jared Thomson. All rights reserved.
    </p>
  </center>
</div>