<ul class="nav-bar">
  <li class="active"><a href="#">Home</a></li>

  <li><a href="https://github.com/xoorath/TimeTracker">Github</a></li>

  <li class="has-flyout">
    <a href="#">This Guy</a>
    <a href="#" class="flyout-toggle"><span> </span></a>
    <ul class="flyout">
      <li><a href="http://jaredthomson.com">Personal Website</a></li>
      <li><a href="http://xoorath.com">Portfolio</a></li>
      <li><a href="http://blog.xoorath.com">Blog</a></li>
    </ul>
  </li>
</ul>